{% extends "base.html" %}

{% block content %}
  
<h1>Achats</h1>


<ul class="list-group">
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
    <li class="list-group-item">Acheté Bière</li>
</ul>
{% endblock content %}