{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">
                <div class="card-title py-3">
                    <h4 class="alert alert-dark text-center text-dark">Interface de Connexion des Utilisateurs</h4>
                </div>

                <form action="" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}

                    <div class="form-group">
                        <input type="text" name="username" placeholder="Nom d'Utilisateur" id="usernameField"
                            value="{{fieldValues.username}}" class="form-control form-control-sm" />
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" placeholder="Mot de Passe"
                            class="form-control form-control-sm" id="passwordField" />
                            <small class="text-info float-right py-3 voir voirPasswordToggle">AFFICHER</small>
                    </div>

                    <input type="submit" value="Se Connecter" class="btn btn-success submit-btn"/>
                    &nbsp;&nbsp;
                    <a href="{% url 'inscription' %}" type="reset" class="btn btn-danger">Annuler</a>
                </form>

            </div>

        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>

<script src="{% static 'js/inscription.js' %}"></script>

{% endblock content %}